body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* come back here */
/* maybe flex box */
/* or reformat grid */
/* #grid-container {
    display: grid;
    grid-template-areas: 
    "header button";
    grid-template-columns: 3fr 5fr;
} */

body > header {
    margin: 10;
    text-indent: 10%;
    background-color: rgb(53, 118, 138);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
        "header button";
    grid-template-columns: 2fr 1fr;
}

 body > header > nav > a > button {
    background-color: rgb(60, 189, 176);
    border: (60, 189, 176) solid;
    color: white;
    margin-top: 8px;
    padding: 12px;
    border-radius: 10%;
}

#where-do-you-want-to-go {
    background-color: rgb(20, 18, 39);
    color: white;
    padding: 25px;
}

#where-to-go {
    background: transparent;
    color: white;
    border-style: solid;
    border-radius: 10%;
    padding: 12px;  
}

#date {
    background: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-radius: 10%;
    padding: 10px;  
}


#travel-type {
    background: transparent;
    color: white;
    border-radius: 10%;
    border-style: solid;
    padding: 12px;
}

#search-button {
    width: 130px;
    background-color: rgb(255, 72, 0);
    color: white;
    padding: 12px;
    border-radius: 10%;
    font-weight: bold;
}

#popular-destinations {
    text-align: center;
}

.explore-img {
    width: 30%;
    height: 30%;
    margin: 10px;
    flex: 33%;
}

.image {
    width: 30%;
    height: 30%;
    margin: 10px;
    flex: 33%;
}

#popular-places {
    text-align: center;
}

#customer-reviews {
    background-color: rgb(61, 78, 110);
    color: white;
    text-indent: 20%;
    font-family: 'Homemade Apple', cursive;
    display: grid;
    grid-template-areas: 
    "img img img"
    "h5 h5 h5";
}
body > section#customer-reviews > img {
    padding-top: 20px;
    width: 30%;
    border-radius: 90%;
    margin-left: 120px;
}


/* #user-image {
    border-radius: 50%; */
    /* width: 20%;
    height: 20%;
    margin: 40px;
    flex: 33%; */


footer {
    text-indent: 50px;
    background-color: rgb(20, 18, 39);
    color: white;
    display: grid;
    grid-template-areas: 
        "h2 li h4""
        "li h4"
        "h4"
        "h4";
    grid-template-columns: 3fr 3fr 3fr;
}